<div id="main_container">
    <h1 style="text-align:center;">Create Post</h1>
    <div class="margin-mv">
        Post Anonymously
        <mat-slide-toggle
        id="anon_toggle"
        ></mat-slide-toggle>
    </div>
    
    <div id="container"></div>
 <textarea id="text_post_content" class="padding-sv padding-mh" placeholder="Write your post ..."></textarea>
    

    <div id="container_add_images" class="margin-mv padding-mv center-text">
        <p>+ Add Images</p>
    </div>

    <div id="container" class="padding-mh padding-sv margin-mv center-text">
            <p>Tags</p>
            <div id="searchbox">
                <button mat-icon-button
                    color="primary"
                    style="max-height:37px;">
                    <mat-icon>search</mat-icon>
                 </button>
            
                  <mat-form-field class="searchinput">
                      <input matInput type="search"
                              name="search"
                              placeholder="Search People or Institue Bodies">
                  </mat-form-field>
        </div>          
    </div>

    <div id="container" class="margin-mv padding-mv center-text">
        <p>Location</p>
        <div id="searchbox">
          <button mat-icon-button
              color="primary"
              style="max-height:37px;">
              <mat-icon>search</mat-icon>
           </button>
      
            <mat-form-field class="searchinput">
                <input matInput type="search"
                        name="search"
                        placeholder="Search location around Campus">
            </mat-form-field>
       </div>
          
    </div>
    

    <div id="container" class="margin-mv padding-mv center-text">
        <p>Interests</p>
        <div id="searchbox">
            <button mat-icon-button
                    color="primary"
                    style="max-height:37px;">
                <mat-icon>search</mat-icon>
            </button>
            <mat-form-field class="searchinput">
                <input matInput type="search"
                        name="search"
                        placeholder="Search for an Interest">
            </mat-form-field>
          
            
        </div>        
    </div>


    <div class="center-text">
        <button
            mat-raised-button
            class="margin-mv"
            color="accent"
            id="submit_btn"
        >
            Post
        </button>
    </div>
</div>
