.head-card {
    height: 34px;
    margin-top: -10px;
    padding: 16px;
    display: flex;
}
.profile-pic {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: -3px;
    flex: 0 0 40px;
}

#ldap {
    color: #eee;
    font-size: 10pt;
}


#searchbox {
    margin: 10px;
    white-space: nowrap;
}

.searchinput {
    min-width: 60%;
}

#main_container{
    padding:12px 48px 12px 48px;
    height:100%;
}

#post_container{
    border-radius: 8px;
    border: 2px solid black;
    width:100%;
    min-height: 250px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-gap: 20px;
    
}

.grid-container_location {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-gap: 20px;
    
}

#container{
    border-radius: 8px;
    border: 2px solid black;
    height: auto;
    margin: 6px;

}

#hidden-container{
    border:none ;
    padding: 6px;
    margin: 6px;
}

.taggables{
    border-radius: 20px;
    padding: 6px;
    margin: 6px;
    background:transparent;
    display: inline;
    border: 2px solid gray ;
}

#submit_btn{
    width:100px;
    background-color:#0D4BA8;
    border-radius: 20px;
    color: white;
    margin: 10px;
}
#link_btn{
    width: 0px;
    margin:1px;
    background-color:gray;
}

.tag{
    display: inline-block;
}

.margin-sv{
    margin-top: 6px;
    margin-bottom: 6px;
}
.margin-mv{
    margin-top: 12px;
    margin-bottom: 12px;
}
.margin-lv{
    margin-top: 24px;
    margin-bottom: 24px;
}

.padding-sv{
    padding-top: 6px;
    padding-bottom: 6px;
}
.padding-mv{
    padding-top: 12px;
    padding-bottom: 12px;
}
.padding-mh{
    padding-left: 12px;
    padding-right: 12px;
}
.padding-lv{
    padding-top: 24px;
    padding-bottom: 24px;
}

.center-text{
    text-align: center;
}